html, body {
    font-family: 'Nunito', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color: #222831;
    margin: 0;
    height: 100%;
}


.logoContainer {
    /* Auto Layout */
font-family: 'Montserrat', sans-serif;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 119px;
height: 54px;
left: 20px;
top: 20px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 10px 10px;
}

.logo {
    position: static;
    left: 0%;
    right: 54.62%;
    top: 0%;
    bottom: 0%;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.logoText {
    position: static;
left: 53.78%;
right: 0%;
top: 9.26%;
bottom: 9.26%;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.03em;

/* Акцент */

color: #29A19C;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 10px;

}

/* Регистрация/вход */

.RegContainer {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;

position: absolute;
width: 350px;
height: 375px;
left: calc(50% - 350px/2);
top: calc(50% - 375px/2 + 0.5px);

/* Темная тема/Карточка */

background: #2C3440;
box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.RegContainer .Text {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 310px;
    height: 25px;
    left: 20px;
    top: 20px;
    
    /* Акцент */

color: #29A19C;
font-style: normal;
font-size: 20px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 20px 10px;
}


.RegContainer .Input 
{
    /* Контент */


/* Auto Layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: static;
width: 310px;
height: 290px;
left: 20px;
top: 65px;
}

.RegContainer .Input input {
    /* Auto Layout */

/* Auto Layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 15px;

position: static;
width: 310px;
height: 39px;
left: 0px;
top: 0px;

border: 3px solid #29A19C;
box-sizing: border-box;
border-radius: 8px;
background: #2C3440;

/* Inside Auto Layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 15px 0px;

}

.RegContainer .Input button {

    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 25px;

position: static;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #29A19C;
border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 20px;

font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.01em;

/* Темная тема/Белый */

color: #F9F9F9;


   
}
.RegContainer .Registr{

    /* Еще нет аккаунта? Регистрация */

position: static;
width: 179px;
height: 16px;
left: 65.5px;
top: 180px;

font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.01em;
white-space: nowrap;

color: #CECECE;

/* Inside Auto Layout */

flex: none;
order: 3;
flex-grow: 0;
margin: 30px 0px;
}

.RegContainer  .Registr a {

    color: #29A19C;
    text-decoration: none;
    
}

.RegContainer  .Registr a:hover {

    color: #29A19C;
    text-decoration: underline;
    
}



.navigation {
    /* Auto Layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     
    position: absolute;
    width: 1440px;
    height: 64px;
    left: 0px;
    top: 90%;
    
    }

.navigation ul {
    color: #CECECE;
    list-style: none;
    

    font-size: 14px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: pre;
    max-width: 100%;
}

.navigation ul li  {
    color: #CECECE;
    padding: 5px;
}
.navigation ul li a {
    color: #CECECE;
    text-decoration: none;
}
.navigation ul li a:hover {
    color: #CECECE;
    text-decoration: underline;
}

/* Регистрация/вход конец */


/* To do list */


.Sidebar {

    position: absolute;
    width: 240px;
    height: 752px;
    left: 0px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;


/* Темная тема/Карточка */

background: #2C3440;
    
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.25));

}

.Category {

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 212px;
height: 283px;
left: auto;
top: 0x;

}
.Category ul li {
/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 30px 0px;


list-style-type: none;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.025em;

}

.Category ul lh {

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
/* identical to box height */

    letter-spacing: 0.03em;

/* Акцент */

    color: #29A19C;
    
}

.Category ul li a {
    color: #F9F9F9;
    text-decoration: none;
    
}
.Category .add a{

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 30px 0px;
    color: #29A19C;
    text-decoration: none;
    
}
.Category li a:hover {

    text-decoration: underline;
}

.icon {

    width: 16px;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.Category .out {

    margin-top: 60px;
}


.Main {

    position: absolute;
    width: 1069px;
    height: 715px;
    left: 301px;
    top: 94px;
}

.Success {

    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;

position: static;
width: 480px;
height: 180px;
left: 0px;
top: 0px;

/* Темная тема/Карточка */

background: #2C3440;
/* Тень */

box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
border-radius: 10px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 30px 0px;
}

.Main h2 {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

position: static;
width: 470px;
height: 25px;


font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */

letter-spacing: 0.02em;

/* Акцент */

color: #29A19C;
/* Inside Auto Layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 10px;
}

.Circles {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;

position: static;
width: 470px;
height: 126px;
left: 20px;
top: 20px;

/* Inside Auto Layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}

.Circle {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: static;
width: 100px;
height: 100px;
left: 0px;
top: 0px;

/* Темная тема/Карточка */

background: #2C3440;
/* Акцент */

border: 1px solid #29A19C;
box-sizing: border-box;
border-radius: 200px;
}

.ContCirc {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: static;
width: 100px;
height: 142px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;

font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.02em;

/* Темная тема/Белый */

color: #F9F9F9;

}


.ContCirc h4 {
    font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 49px;
letter-spacing: 0.02em;

/* Акцент */

color: #29A19C;
}

.Tasks {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;

position: static;
width: 480px;
height: 300px;
left: 0px;
top: 241px;

/* Темная тема/Карточка */

background: #2C3440;
/* Тень */

box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
border-radius: 10px;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 30px 0px;

}

.Task {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 480px;
    height: 49px;
    left: 0px;
    top: 59px;

    background: #2C3440;
border: 1px solid rgba(249, 249, 249, 0.2);
box-sizing: border-box;
border-radius: 10px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 1;
margin: 5px 0px;

}
.Task span {
    position: static;
width: 460px;
height: 19px;
left: 15px;
top: 15px;

font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.02em;

/* Темная тема/Белый */

color: #F9F9F9;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 15px;
}

.done {
    text-decoration: line-through;
}
 .Right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 473px;
    height: 607px;
    left: 597px;
    top: 0px;

 }

.TimeCont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    
    position: static;
    width: 473px;
    height: 120px;
    left: 0px;
    top: 0px;
    
    background: #2C3440;
    /* Тень */
    
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 30px 0px;
}

 .Datetime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 433px;
    height: 58px;
    left: 20px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 20px 0px;
}

h3 {

    font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.02em;

color: #F9F9F9;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 5px 10px;
}

.icon1 {
    position: static;
width: 24px;
height: 24px;
left: 0px;
top: 5px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;

}
.Timedate {

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 240px;
height: 34px;
left: 0px;
top: 0px;

font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 34px;
/* identical to box height */

letter-spacing: 0.02em;

color: #F9F9F9;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 5px 0px;
}

.Fact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    
    position: static;
    width: 472px;
    height: 87px;
    left: 0.5px;
    top: 73px;
    
    background: #2C3440;
    /* Тень */
    
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.User {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 294px;
height: 44px;
left: 1100px;
top: 20px;

font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

/* Темная тема/Белый */

color: #F9F9F9;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
}

.User a {
    color: #29A19C;
    text-decoration: none;
}

.Usericon {
    position: relative;
width: 42px;
height: 42px;
top: 0px;

background: url(.png);
border-radius: 50%;
border: 1px solid #F0F0F0;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 10px;

}

.Menu {
    
    position: static;
    width: 24px;
    height: 24px;
    left: 270px;
    top: 10px;
    
    /* Темная тема/Карточка */
    
    background: #2C3440;
    /* Smooth shadow */
    
    box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
    border-radius: 5px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 20px;

}