.Sidebar {

    position: absolute;
    width: 220px;
    height: 100%;
    left: 0px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;


/* Темная тема/Карточка */

    background: #2C3440;
    
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.25));

}

.Category {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 212px;
    height: 283px;
    left: auto;
    top: 0x;

}
.Category ul li {
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 30px 0px;
    
    
    list-style-type: none;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    
    letter-spacing: 0.025em;

}
.Category ul li .add {
    
    color: #29A19C;

}

.Category ul lh {

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
/* identical to box height */

    letter-spacing: 0.03em;

/* Акцент */

    color: #29A19C;
    
}

.Category ul li a {
    color: #F9F9F9;
    text-decoration: none;
    
}
.Category .add a{

    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 30px 0px;
    color: #29A19C;
    text-decoration: none;
    
}
.Category li a:hover {

    text-decoration: underline;
}

.icon {

    width: 16px;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.Category .out {

    margin-top: 60px;
}

.icon1 {
    position: static;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 5px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;

    

}