.idea
venv
__pycache__
sql*
/static/groups/
/static/groups/homework/
/static/groups/schedules/
/static/groups/schedules/ce7ea29b-6010-4d1a-a449-256dc660c7a8.png
/static/news/
/static/news/images/
/static/news/images/7bec6391-5a49-4fad-9880-11f865d82e35.jpg
/static/persons/
/static/persons/child_avatars/
/static/persons/child_stats/
/static/tournament/
/static/tournament/images/
/static/shop/
/static/shop/article_images/

